<%- include("partials/header") %>

<h1>
	Sid's Blog
</h1>

<div class="ui divided items segment">
	<% blogs.forEach(function(blog){ %>

	<div class="item">
		<div class="image">
			<img src="<%= blog.image %>" />
		</div>

		<div class="content">
			<a class="header" href="/blogs/<%=blog._id%>"><%= blog.title %></a>

			<div class="meta">
				<span><%= blog.created.toDateString() %></span>
			</div>

			<div class="description">
				<p><%= blog.body.substring(0, 100) + " ....." %></p>
			</div>

			<div class="extra">
				<a href="/blogs/<%=blog._id%>" class="ui right floated button">
					Read More
				</a>
			</div>
		</div>
	</div>

	<% }); %> <%- include("partials/footer") %>
</div>